@import "utils/extensions";
@import "utils/functions";
@import "utils/mixins";
@import "utils/placeholders";
@import "utils/variables";
@import "base/base";
@import "base/typography";
@import "layout/container";
@import "layout/fonctionnement";
@import "layout/footer";
@import "layout/explorer";
@import "layout/header";
@import "layout/restaurants";
@import "components/button";
@import "pages/about";
@import "pages/offerandprices";
@import "pages/work";
@import "themes/dark";