@keyframes checkedRestaurantRotation {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    20% {
        transform: rotate(0deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(140deg);
        opacity: 0.4;
    }
    70% {
        transform: rotate(210deg);
        opacity: 0.7;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes checkedRestaurantTranslation {
    0% {
        transform-origin: right;
        transform: scaleX(0);
        opacity: 0;
    }
    50% {
        transform-origin: right;
        transform: scaleX(0.25);
        opacity: 0.8;
    }
    100% {
        transform-origin: right;
        transform: scaleX(0.5);
        opacity: 1;
    }
}

@keyframes priceDishesTranslationDesktop {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2rem);
    }
    100% {
        transform: translateX(-4rem);
    }
}

@keyframes priceDishesTranslationTablet {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-3rem);
    }
    100% {
        transform: translateX(-5rem);
    }
}

@keyframes priceDishesTranslationSmartphone {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1.7rem);
    }
    100% {
        transform: translateX(-3rem);
    }
}

@keyframes dishesProgressivApparition {
    0% {
        transform:translateY(0rem);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform:translateY(-$topBase);
        filter: blur(0);
        opacity: 1;
    }
}

@for $idop from 1 to 12 {
    .menuItem#{$idop} {
            $duration: ($idop * 160);
            animation: dishesProgressivApparition #{$duration}ms ease-in;
            animation-fill-mode: both;
        }
    }

.cardMenu {
    background-color: $darkGreyColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include ecranDesktop {
        display: flex;
        flex-direction: row; 
        justify-content: space-around;     
    }
    &__part {
        display:flex;
        flex-direction: column;
        flex-basis: auto;
        position: relative;
        top:20px;
        animation: dishesProgressivApparition 400ms ease-in;
        animation-fill-mode: both;
        h2 { 
            font-family: $textFontFamily;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.6rem;
            padding-left: $sectionPadding;
        }
        .line {
            width: 2.4rem;
            height:.2rem;
            background-color: $thirdColor;        
            margin-left: $sectionPadding;
        }
    }
    &__dishes {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
        input[type="radio"] {
            display:none;
            &:checked + label .check_circle__background {
                animation: checkedRestaurantTranslation 300ms ease-in-out;
                animation-fill-mode: both;
            }
            &:checked + label .material-icons {
                font-size: 2rem;                
                z-index:999;
                animation: checkedRestaurantRotation 300ms ease-out;
                animation-fill-mode: both;
                @include ecranSmartphone {
                    position: relative;
                    text-align: center;
                    padding: 1.5rem .5rem;
                    font-size: 2rem;
                    width:3rem;
                    max-height: 3rem;
                }
            }  
            &:checked + label .dishesPrice {
                animation: priceDishesTranslationDesktop 200ms ease-in;
                animation-fill-mode: both;
                @include ecranTablet {
                    animation: priceDishesTranslationTablet 200ms ease-in;
                    animation-fill-mode: both;
                }
                @include ecranSmartphone {
                    animation: priceDishesTranslationSmartphone 200ms ease-in;
                    animation-fill-mode: both;
                }
            }
            &:checked + label .dishesName {
                max-width: 14rem;
                @include ecranDesktop {
                    max-width: 11rem;
                }
                @include ecranTablet {
                    max-width: 20rem;
                }
            }
        }
        &__dishCard {            
            cursor: pointer;
            display: flex;
            flex-grow: 0;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            border-radius: .7rem;
            height: 5rem;
            margin: .5rem 0 .5rem 0;
            position: relative;
            @include btnShadow;
            @include ecranDesktop {
                width: 19rem;
            }
            .dishesName {
                display: flex;
                flex-direction: column;
                padding:1rem;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                span:first-child {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                span:nth-child(2) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
            .dishesPrice {
                flex-basis: 3rem;
                align-self: flex-end;
                width:2rem;
                height: 3rem;
                position: absolute;
                right: 2rem;
                border-radius: .7rem;
                background-color: transparent;
                margin-top: 2.5rem;
                @include ecranSmartphone {
                    right:2rem;
                    width:2.5rem;
                }
                @include ecranDesktop {
                    position: absolute;
                    right: 0.5rem;
                }
            }
            .check_circle__background {
                background-color: $thirdColor;
                flex-basis: 5rem;
                position: absolute;
                right:0;
                opacity: 0;
                display: block;
                width: 10rem;
                height: 5rem;
                border-top-right-radius: .7rem;
                border-bottom-right-radius: .7rem;
                @include ecranSmartphone {
                    width: 8rem;
                }
                @include ecranDesktop {
                    width: 8rem;
                }
            }
            .material-icons {
                text-align: center;
                color: white;
                padding: 1.5rem 1rem;
                opacity: 0;
                @include ecranTablet {
                    padding: 1.5rem;
                }
                @include ecranSmartphone {
                    flex-basis: 3rem;
                }
                @include ecranDesktop {
                    padding: 1.5rem 1rem;
                    flex-basis: 1.7rem;
                }
            }
            
        }
    }
}
form {
    padding:1rem 0 1rem 0;
    text-align: center;
    background-color: $darkGreyColor;
    #commandButton {
        @include btnExploreAndCommand;
    }
}

.commandForm {
    padding:0 0 5rem 0;
}

