@keyframes checkedRestaurantRotation {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    20% {
        transform: rotate(0deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(140deg);
        opacity: 0.4;
    }
    70% {
        transform: rotate(210deg);
        opacity: 0.7;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes checkedRestaurantTranslation {
    0% {
        transform-origin: right;
        transform: scaleX(0);
        opacity: 0;
    }
    50% {
        transform-origin: right;
        transform: scaleX(0.25);
        opacity: 0.8;
    }
    100% {
        transform-origin: right;
        transform: scaleX(0.5);
        opacity: 1;
    }
}

@keyframes priceDishesTranslationDesktop {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2.5rem);
    }
    100% {
        transform: translateX(-5rem);
    }
}

@keyframes priceDishesTranslationTablet {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-3rem);
    }
    100% {
        transform: translateX(-5rem);
    }
}

@keyframes priceDishesTranslationSmartphone {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-1.7rem);
        }
        100% {
            transform: translateX(-3rem);
        }
}

.cardMenu {
    background-color: $darkGreyColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include ecranDesktop {
        display: flex;
        flex-direction: row;        
    }
    &__part {
        display:flex;
        flex-direction: column;
        flex-basis: auto;
        h2 {
            font-family: $textFontFamily;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.6rem;
            padding-left: $sectionPadding;
        }
        .line {
            width: 2.4rem;
            height:.2rem;
            background-color: $thirdColor;        
            margin-left: $sectionPadding;
        }
    }
    &__dishes {
        display: flex;
        flex-direction: column;
        padding:0 1rem;
        input[type="radio"] {
            display:none;
            &:checked + label .check_circle__background {
                animation: checkedRestaurantTranslation 300ms ease-in-out;
                animation-fill-mode: both;
            }
            &:checked + label .material-icons {
                font-size: 2rem;                
                z-index:999;
                animation: checkedRestaurantRotation 300ms ease-out;
                animation-fill-mode: both;
                @include ecranSmartphone {
                    position: relative;
                    text-align: center;
                    padding: 1.5rem .5rem;
                    font-size: 2rem;
                    width:3rem;
                    max-height: 3rem;
                }
            }  
            &:checked + label .dishesPrice {
                animation: priceDishesTranslationDesktop 200ms ease-in;
                animation-fill-mode: both;
                @include ecranTablet {
                    animation: priceDishesTranslationTablet 200ms ease-in;
                    animation-fill-mode: both;
                }
                @include ecranSmartphone {
                    animation: priceDishesTranslationSmartphone 200ms ease-in;
                    animation-fill-mode: both;
                }
            }
            &:checked + label .dishesName {
                max-width: 13rem;
            }
        }
        &__dishCard {
            display: flex;
            flex-grow: 0;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            border-radius: .7rem;
            height: 5rem;
            margin: .5rem 0 .5rem 0;
            position: relative;
            @include btnShadow;
            @include ecranDesktop {
                width: 25rem;
            }
            .dishesName {
                padding:1rem;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .dishesPrice {
                flex-basis: 3rem;
                align-self: flex-end;
                width:2rem;
                height: 3rem;
                position: absolute;
                right: 2rem;
                border-radius: .7rem;
                background-color: transparent;
                margin-top: 2.5rem;
                @include ecranSmartphone {
                    right:2rem;
                    width:1.5rem;
                }
                @include ecranDesktop {
                    position: absolute;
                    right: 1rem;
                }
            }
            .check_circle__background {
                background-color: $thirdColor;
                flex-basis: 5rem;
                position: absolute;
                right:0;
                opacity: 0;
                display: block;
                width: 10rem;
                height: 5rem;
                border-top-right-radius: .7rem;
                border-bottom-right-radius: .7rem;
                @include ecranSmartphone {
                    width: 8rem;
                }
            }
            .material-icons {
                text-align: center;
                color: white;
                padding: 1.5rem 1rem;
                opacity: 0;
                @include ecranTablet {
                    padding: 1.5rem;
                }
                @include ecranSmartphone {
                    flex-basis: 3rem;
                }
                @include ecranDesktop {
                    flex-basis: 3rem;
                }
            }
            
        }
    }
}
form {
    padding:1rem 0 2rem 0;
    text-align: center;
    background-color: $darkGreyColor;
    #commandButton {
        @include btnExploreAndCommand;
    }
}

