@keyframes checkedRestaurantTranslation {
    0% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes priceDishesTranslation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-4rem);
    }
    100% {
        transform: translateX(-7rem);
    }
}

@keyframes priceDishesTranslationSmartphone {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-2rem);
        }
        100% {
            transform: translateX(-3.8rem);
        }
}

.cardMenu {
    background-color: $darkGreyColor;
    display: flex;
    flex-direction: column;
    @include ecranDesktop {
        display: flex;
        flex-direction: row;        
    }
    &__part {
        display:flex;
        flex-direction: column;
        flex-basis: 30%;
        h2 {
            font-family: $textFontFamily;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.6rem;
            padding-left: $sectionPadding;
        }
        .line {
            width: 2.4rem;
            height:.2rem;
            background-color: $thirdColor;        
            margin-left: $sectionPadding;
        }
    }
    &__dishes {
        display: flex;
        flex-direction: column;
        padding:0 1rem;
        input[type="radio"] {
            display:none;
            &:checked + label .material-icons {
                display: block;
                text-align: center;
                padding: 1.5rem 1rem;
                background-color: $thirdColor;
                color: white;
                font-size: 2rem;
                width: 3rem;
                max-height: 5rem;
                border-top-right-radius: .7rem;
                border-bottom-right-radius: .7rem;
                animation: checkedRestaurantTranslation 300ms 100ms ease-in-out;
                animation-fill-mode: both;
                @include ecranSmartphone {
                    position: relative;
                    text-align: center;
                    padding: 1.5rem .5rem;
                    font-size: 2rem;
                    width:3rem;
                    max-height: 3rem;
                }
            }  
            &:checked + label .dishesPrice {
                animation: priceDishesTranslation 200ms ease-in;
                animation-fill-mode: both;
                @include ecranSmartphone {
                    animation: priceDishesTranslationSmartphone 200ms ease-in;
                    animation-fill-mode: both;
                }
            }
            &:checked + label .dishesName {
                width: 13rem;
            }
        }
        &__dishCard {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            border-radius: .7rem;
            height: 5rem;
            margin: .5rem 0 .5rem 0;
            @include btnShadow;
            .dishesName {
                padding:1rem;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .dishesPrice {
                flex-basis: 3rem;
                flex-shrink: 0;
                width:2rem;
                height: 3rem;
                position: absolute;
                right: 2rem;
                border-radius: .7rem;
                background-color: transparent;
                margin-top: 2.5rem;
                @include ecranSmartphone {
                    right:2rem;
                    width:1.5rem;
                }
            }
            .material-icons {
                flex-basis: 5rem;
                flex-shrink: 0;
                position: relative;
                opacity:0;
                @include ecranSmartphone {
                    flex-basis: 3rem;
                }
            }
        }
    }
    form {
        padding:1rem 0 2rem 0;
        text-align: center;
        button {
            @include btnExploreAndCommand;
        }
    }
}

