.enteteMenu {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    background: $imgLaPaletteDuGout;
    background-size: cover;
    background-position: center;
    margin-top: -16px;
    &__spacer {
        height:42vh;
    }
    &__nomRestaurant {
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        background-color: $darkGreyColor;
        padding: 1.3rem $sectionPadding;
        border-top-left-radius: $radiusMenuTitle;
        border-top-right-radius: $radiusMenuTitle;
        h1 {
            @include logoMenuTitle;
        }
        @include ecranDesktop {
            justify-content: center;
        }
    }   
    .material-icons {
        right:6% !important;
        @include ecranTablet {
            position: absolute;
            right:3% !important;
            top: -5rem !important;
        }
        @include ecranDesktop {
            position:absolute;
            right:2% !important;
        }
    }
}
