.enteteMenu {
    display:flex;
    flex-direction: column;
    height: 50vh;
    background: $imgLaPaletteDuGout;
    background-size: cover;
    background-position: center;
    &__spacer {
        height:42vh;
    }
    &__nomRestaurant {
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: $darkGreyColor;
        padding: 1.3rem $sectionPadding;
        border-top-left-radius: $radiusMenuTitle;
        border-top-right-radius: $radiusMenuTitle;
        h1 {
            @include logoMenuTitle;
        }
    }   
}
