@keyframes btnTransform {
    15% {
        box-shadow: rgba(0, 0, 0, 0.2) 1px 7px 5px 1px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 7px 5px 1px;
        filter: grayscale(5%); 
        transform: scale(1);
    }
    100% {
        box-shadow: rgba(0, 0, 0, 0.2) 1px 7px 10px 1px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 7px 10px 1px;
        filter: grayscale(10%); 
        transform: scale(1.1, 1);
    }
}


.restaurantExploration {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
        &__geoloc {
            display: flex; //flex plus simple pour des boites à peu d'éléments
            flex-direction: row;
            justify-content: center;
            text-align: center; // pour assurer le responsive
            flex-wrap: nowrap; // pour assurer le maintien sur une ligne
            background-color: $darkGreyColor;
            font-family: $textFontFamily;
            padding: 0 0 16px 0;
            @include ecranTablet {
                font-size: 1.2rem;
            }
            input[value] {
                border: none;
                font-size: 1rem;
                font-weight:600;
            }
            .material-icons {
                @include iconsAppearance;
            }
        }
        &__searchEngine {
            display: flex; // utilisation des flexbox car seulement 3 éléments sans modifications de disposition selon les écrans
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $mediumGreyColor;
            padding: 1.5rem 0;
            @include ecranTablet {
                padding: 1rem 0 0 0;
            }
            @include ecranDesktop {                
                padding: 1rem 0 0 0;
            }
            &__title1 {
                    width: 80%;
                    h1 {
                        @include sectionTitle;
                    }
                    }
            &__title2 {
                    width:90%;
                    span {
                        @include sectionSubTitle;
                    }
                }
            &__btn {
                padding: 1.8rem 0 2rem 0;
                @include ecranTablet {
                    padding: 1rem 0 1.8rem 0;
                }
                @include ecranDesktop {
                    padding: 1rem 0 2.2rem 0;
                }
                button {
                    padding: .7rem 1.7rem;
                    background: linear-gradient($secondaryColor, $primaryColor);
                    border: none;
                    border-radius: $radiusCard;
                    color: white;
                    font-size: 1rem;
                    font-weight: 500;    
                    box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
                    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;                        
                    @include ecranTablet {
                        font-size: .8rem;
                    }
                    @include ecranDesktop {
                        font-size: .8rem;
                    }
                    &:hover {                        
                        cursor: pointer;
                        animation: btnTransform .5s ease-in;
                        animation-fill-mode: forwards;    
                        animation-iteration-count: 2;
                        animation-direction: alternate;
                    }
                }
            }
        }        
}