
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
    margin-bottom: 16px;
    padding: .7rem 0;
    top:0;
    position: sticky;
    z-index: 9999;
        .header__spacer {
            flex-basis: 20%;
            flex-shrink: 1;
        } 
        .header__logo {
            flex-basis: 60%;
            flex-shrink: 0;
            text-align: center;
            @include logoMenuTitle;
        }
}