  
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $mediumGreyColor;
    padding: $sectionPadding;
    &__list__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $mediumGreyColor;
        text-align: left;
        @include ecranTablet {
            display: grid; // grid pour plus de précision sur la disposition
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 1rem;
            row-gap: 2rem;
        }
        @include ecranDesktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 1rem;
            row-gap: 2rem;
        }
    }
    &__title h2 {
        @include sectionTitle;
    }
    &__cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $radiusCard;
        margin:3% 1%;
        @include btnShadow;
        &:first-child &__img {
            background: $imgLaPaletteDuGout;
            @include restaurantImgProperties;
        }
        &:nth-child(2) &__img {
            background: $imgLaNoteEnchantee;
            @include restaurantImgProperties;
        }
        &:nth-child(3) &__img {
            background: $imgALaFrancaise;
            @include restaurantImgProperties;
        }
        &:nth-child(4) &__img {
            background: $imgLeDeliceDesSens;
            @include restaurantImgProperties;
        }
        @include ecranTablet {
            flex-basis: 45%;
        }
        @include ecranDesktop {
            flex-basis: 30%;
        }
        &__img {
            &__restoType[data-status="new"]::before {
                    content: 'Nouveau';
                    position: relative;
                    text-align: center;
                    width:6rem;
                    top:1rem;
                    margin-left:auto;
                    margin-right: 1rem;
                    background-color: $thirdColor;
                    padding: .4rem .6rem;
                    font-weight: $bold;
                    font-size: .9rem;
                    color: darkgreen;
                }
            }
        &__legend {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            padding:.8rem;
            line-height: 1.5;    
            &__title__name h3 {
                font-weight: $bold;
                font-size: 1rem;
            }
            &__favorite {
                padding:0;
                position: relative;
                .material-icons {
                    position: absolute;
                    font-size: 2rem;
                }
                .favorite_border {
                    right: 3%;
                    z-index: 1;
                }
                .favorite {
                    color: transparent;
                    z-index: 0;
                    right: 3%;
                    background: linear-gradient($primaryColor, $secondaryColor);
                    background-clip: text;
                    -webkit-background-clip: text;
                    transform: scale(0);
                    opacity: 0;
                }
                // autre moyen d'écrire en sass ?
                &__radiobtn {
                    display: none;
                    &:checked ~ label .favorite_border {
                        opacity: 0;
                    }
                    &:checked ~ label .favorite {
                        transition: all 600ms;
                        transform: scale(1);
                        opacity:1;
                    }
                }  
            } 
        }
    }
}