
$linearColor: linear-gradient(45deg, $secondaryColor, $primaryColor);
/*
@keyframes backgroundIconTransformation {
    0% { fill:linear-gradient(0deg, $secondaryColor, $secondaryColor)};
    25% { fill:linear-gradient(0deg, $secondaryColor 25%, $primaryColor)};
    50% {fill:linear-gradient(0deg, $secondaryColor 25%, $primaryColor)};
    75% {fill:linear-gradient(0deg, $secondaryColor 75%, $primaryColor)};
    100% {fill:linear-gradient(0deg, $secondaryColor 100%, $primaryColor)};
}
*/     
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $mediumGreyColor;
    padding:1.5rem;
    &__title {
        @include sectionTitle;
    }
    &__cardContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: $radiusCard;
        @include btnShadow;
        &__img {
            background: url(../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            height:10rem;
            width:100%;
            flex-shrink: 0;
            background-size: cover;
            background-position: bottom;
            border-top-left-radius: $radiusCard;
            border-top-right-radius: $radiusCard;
            text-align: right;
            &__new {
                position: relative;
                text-align: center;
                width:6rem;
                top:2rem;
                margin-left:auto;
                margin-right: 2rem;
                background-color: $thirdColor;
                padding: .3rem;
                font-weight: $bold;
                color: darkgreen;
            }
        }
        &__legend {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding:.8rem;
            line-height: 1.5;    
            &__title__name {
                font-weight: $bold;
            }

            
        }
    }
}