@charset "UTF-8";
@-webkit-keyframes btnTransformation {
  15% {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff88de, #9b63df);
  }
  60% {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff93e1, #a16be0);
  }
  80% {
    box-shadow: rgba(0, 0, 0, 0.25) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff88de, #9b63df);
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff88de, #9b63df);
  }
}
@keyframes btnTransformation {
  15% {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff88de, #9b63df);
  }
  60% {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff93e1, #a16be0);
  }
  80% {
    box-shadow: rgba(0, 0, 0, 0.25) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff88de, #9b63df);
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 2.5px 5px 1px;
    background: linear-gradient(#ff88de, #9b63df);
  }
}
/* Normes globales du site */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #eaeaea;
}
body .loader__section {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
  filter: blur(0) !important;
}
body .loader__section__loader {
  width: 88px;
  height: 88px;
  position: absolute;
  top: 25vh;
  left: calc(50% - 44px);
  margin: auto;
  z-index: 999;
}
body .loader__section__loader::after, body .loader__section__loader::before {
  content: "";
  box-sizing: border-box;
  width: 88px;
  height: 88px;
  position: absolute;
  top: 25vh;
  left: calc(50% - 44px);
  border-radius: 50%;
  border: 4px solid #9356DC;
  z-index: 999;
  -webkit-animation: animloader 2s linear 2;
          animation: animloader 2s linear 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .indexBody {
  filter: blur(40px);
  -webkit-animation: animloaderBackground 4s;
          animation: animloaderBackground 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes animloaderBackground {
  0% {
    filter: blur(40px);
  }
  25% {
    filter: blur(30px);
  }
  50% {
    filter: blur(20px);
  }
  75% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    z-index: -999;
  }
}
@keyframes animloaderBackground {
  0% {
    filter: blur(40px);
  }
  25% {
    filter: blur(30px);
  }
  50% {
    filter: blur(20px);
  }
  75% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    z-index: -999;
  }
}
body .bodyMenu header {
  margin-bottom: 0;
}

/* Polices de caractère */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

div, span, p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.enteteMenu {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background: url(../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -16px;
}
.enteteMenu__spacer {
  height: 42vh;
}
.enteteMenu__nomRestaurant {
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: #eaeaea;
  padding: 1.3rem 1.5rem;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;
}
.enteteMenu__nomRestaurant h1 {
  font-family: "Shrikhand", cursive;
}
.enteteMenu__nomRestaurant h1 a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 640px) {
  .enteteMenu__nomRestaurant h1 a {
    font-size: 5vh;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .enteteMenu__nomRestaurant h1 a {
    font-size: 3vh;
  }
}
@media only screen and (min-width: 1023px) {
  .enteteMenu__nomRestaurant h1 a {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1023px) {
  .enteteMenu__nomRestaurant {
    justify-content: center;
  }
}

@-webkit-keyframes checkedRestaurantRotation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(140deg);
    opacity: 0.4;
  }
  70% {
    transform: rotate(210deg);
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes checkedRestaurantRotation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(140deg);
    opacity: 0.4;
  }
  70% {
    transform: rotate(210deg);
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes checkedRestaurantTranslation {
  0% {
    transform-origin: right;
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform-origin: right;
    transform: scaleX(0.25);
    opacity: 0.8;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0.5);
    opacity: 1;
  }
}
@keyframes checkedRestaurantTranslation {
  0% {
    transform-origin: right;
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform-origin: right;
    transform: scaleX(0.25);
    opacity: 0.8;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0.5);
    opacity: 1;
  }
}
@-webkit-keyframes priceDishesTranslationDesktop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(-4rem);
  }
}
@keyframes priceDishesTranslationDesktop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(-4rem);
  }
}
@-webkit-keyframes priceDishesTranslationTablet {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(-5rem);
  }
}
@keyframes priceDishesTranslationTablet {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(-5rem);
  }
}
@-webkit-keyframes priceDishesTranslationSmartphone {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.7rem);
  }
  100% {
    transform: translateX(-3rem);
  }
}
@keyframes priceDishesTranslationSmartphone {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.7rem);
  }
  100% {
    transform: translateX(-3rem);
  }
}
@-webkit-keyframes dishesProgressivApparition {
  0% {
    transform: translateY(0rem);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes dishesProgressivApparition {
  0% {
    transform: translateY(0rem);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    filter: blur(0);
    opacity: 1;
  }
}
.menuItem1 {
  -webkit-animation: dishesProgressivApparition 160ms ease-in;
          animation: dishesProgressivApparition 160ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem2 {
  -webkit-animation: dishesProgressivApparition 320ms ease-in;
          animation: dishesProgressivApparition 320ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem3 {
  -webkit-animation: dishesProgressivApparition 480ms ease-in;
          animation: dishesProgressivApparition 480ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem4 {
  -webkit-animation: dishesProgressivApparition 640ms ease-in;
          animation: dishesProgressivApparition 640ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem5 {
  -webkit-animation: dishesProgressivApparition 800ms ease-in;
          animation: dishesProgressivApparition 800ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem6 {
  -webkit-animation: dishesProgressivApparition 960ms ease-in;
          animation: dishesProgressivApparition 960ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem7 {
  -webkit-animation: dishesProgressivApparition 1120ms ease-in;
          animation: dishesProgressivApparition 1120ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem8 {
  -webkit-animation: dishesProgressivApparition 1280ms ease-in;
          animation: dishesProgressivApparition 1280ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem9 {
  -webkit-animation: dishesProgressivApparition 1440ms ease-in;
          animation: dishesProgressivApparition 1440ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem10 {
  -webkit-animation: dishesProgressivApparition 1600ms ease-in;
          animation: dishesProgressivApparition 1600ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem11 {
  -webkit-animation: dishesProgressivApparition 1760ms ease-in;
          animation: dishesProgressivApparition 1760ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cardMenu {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 1023px) {
  .cardMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.cardMenu__part {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  position: relative;
  top: 20px;
  -webkit-animation: dishesProgressivApparition 400ms ease-in;
          animation: dishesProgressivApparition 400ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.cardMenu__part h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.6rem;
  padding-left: 1.5rem;
}
.cardMenu__part .line {
  width: 2.4rem;
  height: 0.2rem;
  background-color: #99E2D0;
  margin-left: 1.5rem;
}
.cardMenu__dishes {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
}
.cardMenu__dishes input[type=radio] {
  display: none;
}
.cardMenu__dishes input[type=radio]:checked + label .check_circle__background {
  -webkit-animation: checkedRestaurantTranslation 300ms ease-in-out;
          animation: checkedRestaurantTranslation 300ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.cardMenu__dishes input[type=radio]:checked + label .material-icons {
  font-size: 2rem;
  z-index: 999;
  -webkit-animation: checkedRestaurantRotation 300ms ease-out;
          animation: checkedRestaurantRotation 300ms ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media only screen and (max-width: 640px) {
  .cardMenu__dishes input[type=radio]:checked + label .material-icons {
    position: relative;
    text-align: center;
    padding: 1.5rem 0.5rem;
    font-size: 2rem;
    width: 3rem;
    max-height: 3rem;
  }
}
.cardMenu__dishes input[type=radio]:checked + label .dishesPrice {
  -webkit-animation: priceDishesTranslationDesktop 200ms ease-in;
          animation: priceDishesTranslationDesktop 200ms ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .cardMenu__dishes input[type=radio]:checked + label .dishesPrice {
    -webkit-animation: priceDishesTranslationTablet 200ms ease-in;
            animation: priceDishesTranslationTablet 200ms ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}
@media only screen and (max-width: 640px) {
  .cardMenu__dishes input[type=radio]:checked + label .dishesPrice {
    -webkit-animation: priceDishesTranslationSmartphone 200ms ease-in;
            animation: priceDishesTranslationSmartphone 200ms ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}
.cardMenu__dishes input[type=radio]:checked + label .dishesName {
  max-width: 13rem;
}
@media only screen and (min-width: 1023px) {
  .cardMenu__dishes input[type=radio]:checked + label .dishesName {
    max-width: 10rem;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .cardMenu__dishes input[type=radio]:checked + label .dishesName {
    max-width: 20rem;
  }
}
.cardMenu__dishes__dishCard {
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.7rem;
  height: 5rem;
  margin: 0.5rem 0 0.5rem 0;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
}
@media only screen and (min-width: 1023px) {
  .cardMenu__dishes__dishCard {
    width: 19rem;
  }
}
.cardMenu__dishes__dishCard .dishesName {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardMenu__dishes__dishCard .dishesName span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1.2rem;
}
.cardMenu__dishes__dishCard .dishesPrice {
  flex-basis: 3rem;
  align-self: flex-end;
  width: 2rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  border-radius: 0.7rem;
  background-color: transparent;
  margin-top: 2.5rem;
}
@media only screen and (max-width: 640px) {
  .cardMenu__dishes__dishCard .dishesPrice {
    right: 2rem;
    width: 1.5rem;
  }
}
@media only screen and (min-width: 1023px) {
  .cardMenu__dishes__dishCard .dishesPrice {
    position: absolute;
    right: 0.5rem;
  }
}
.cardMenu__dishes__dishCard .check_circle__background {
  background-color: #99E2D0;
  flex-basis: 5rem;
  position: absolute;
  right: 0;
  opacity: 0;
  display: block;
  width: 10rem;
  height: 5rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
@media only screen and (max-width: 640px) {
  .cardMenu__dishes__dishCard .check_circle__background {
    width: 8rem;
  }
}
@media only screen and (min-width: 1023px) {
  .cardMenu__dishes__dishCard .check_circle__background {
    width: 8rem;
  }
}
.cardMenu__dishes__dishCard .material-icons {
  text-align: center;
  color: white;
  padding: 1.5rem 1rem;
  opacity: 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .cardMenu__dishes__dishCard .material-icons {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .cardMenu__dishes__dishCard .material-icons {
    flex-basis: 3rem;
  }
}
@media only screen and (min-width: 1023px) {
  .cardMenu__dishes__dishCard .material-icons {
    padding: 1.5rem 1rem;
    flex-basis: 1.7rem;
  }
}

form {
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: #eaeaea;
}
form #commandButton {
  padding: 0.7rem 1.7rem;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.8rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  form #commandButton {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1023px) {
  form #commandButton {
    font-size: 0.8rem;
  }
}
form #commandButton:hover {
  cursor: pointer;
  -webkit-animation: btnTransformation 800ms ease-in-out;
          animation: btnTransformation 800ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.commandForm {
  padding: 0 0 5rem 0;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}
.fonctionnement__title h2 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 0;
  padding: 1.5rem;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .fonctionnement__title h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1023px) {
  .fonctionnement__title h2 {
    font-size: 1.2rem;
  }
}
.fonctionnement__section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1.5rem;
  padding: 0 2rem 2rem 2rem;
}
@media only screen and (min-width: 1023px) {
  .fonctionnement__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 2rem;
    padding: 0 2rem 2rem 2rem;
  }
}
.fonctionnement__section__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  background: #f6f6f6;
  transition: 400ms 30ms ease-in-out;
  padding: 1rem;
  border-radius: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  counter-increment: nmbr;
}
.fonctionnement__section__item::before {
  content: counter(nmbr, decimal);
  position: relative;
  left: -1.7rem;
  border-radius: 100%;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  color: white;
}
.fonctionnement__section__item h3 {
  font-weight: 500;
  font-size: 1rem;
}
.fonctionnement__section__item .material-icons {
  max-height: 1.4rem;
  padding-right: 1rem;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .fonctionnement__section__item .material-icons {
    font-size: 1.6rem;
  }
}
.fonctionnement__section__item:hover, .fonctionnement__section__item:active {
  background: rgba(147, 86, 220, 0.1019607843);
}
.fonctionnement__section__item:hover .material-icons, .fonctionnement__section__item:active .material-icons {
  color: #9356DC;
  transition: all 600ms ease-in-out;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .fonctionnement__section__item {
    width: 80%;
    margin: auto;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1023px) {
  .fonctionnement__section__item {
    padding: 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: #282828;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0.8rem;
  line-height: 1.7;
}
@media only screen and (min-width: 1023px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}
.footer__content a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
@media only screen and (min-width: 1023px) {
  .footer__content a {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .footer__content a {
    padding: 0 1rem;
  }
}
.footer__content a span {
  font-size: 0.7rem;
  padding: 0 0.7rem 0 0;
}

.restaurantExploration {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}
.restaurantExploration__geoloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  padding: 0 0 16px 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__geoloc {
    font-size: 1.2rem;
  }
}
.restaurantExploration__geoloc input[value] {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: #eaeaea;
}
.restaurantExploration__geoloc .material-icons {
  max-height: 1.4rem;
  padding-right: 1rem;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__geoloc .material-icons {
    font-size: 1.6rem;
  }
}
.restaurantExploration__searchEngine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 1.5rem 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__searchEngine {
    padding: 1rem 0 0 0;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurantExploration__searchEngine {
    padding: 1rem 0 0 0;
  }
}
.restaurantExploration__searchEngine__title1 {
  width: 80%;
}
.restaurantExploration__searchEngine__title1 h1 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__searchEngine__title1 h1 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurantExploration__searchEngine__title1 h1 {
    font-size: 1.2rem;
  }
}
.restaurantExploration__searchEngine__title2 {
  width: 90%;
}
.restaurantExploration__searchEngine__title2 span {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__searchEngine__title2 span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurantExploration__searchEngine__title2 span {
    font-size: 1rem;
  }
}
.restaurantExploration__searchEngine__btn {
  padding: 1.8rem 0 2rem 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__searchEngine__btn {
    padding: 1rem 0 1.8rem 0;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurantExploration__searchEngine__btn {
    padding: 1rem 0 2.2rem 0;
  }
}
.restaurantExploration__searchEngine__btn form {
  background-color: #f6f6f6;
}
.restaurantExploration__searchEngine__btn button {
  padding: 0.7rem 1.7rem;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.8rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurantExploration__searchEngine__btn button {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurantExploration__searchEngine__btn button {
    font-size: 0.8rem;
  }
}
.restaurantExploration__searchEngine__btn button:hover {
  cursor: pointer;
  -webkit-animation: btnTransformation 800ms ease-in-out;
          animation: btnTransformation 800ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
  margin-bottom: 16px;
  padding: 0.7rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header .header__spacer {
  flex-basis: 20%;
  flex-shrink: 1;
}
header .material-icons {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1.3rem 0.7rem;
}
@media only screen and (max-width: 640px) {
  header .material-icons {
    padding: 1.5rem 0.7rem;
  }
}
header .header__logo {
  flex-basis: 60%;
  flex-shrink: 0;
  text-align: center;
  font-family: "Shrikhand", cursive;
}
header .header__logo a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 640px) {
  header .header__logo a {
    font-size: 5vh;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  header .header__logo a {
    font-size: 3vh;
  }
}
@media only screen and (min-width: 1023px) {
  header .header__logo a {
    font-size: 30px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 1.5rem;
}
.restaurants__list__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  text-align: left;
  margin: auto;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurants__list__form {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurants__list__form {
    display: flex;
    flex-direction: row;
  }
}
.restaurants__title h2 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurants__title h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurants__title h2 {
    font-size: 1.2rem;
  }
}
.restaurants__cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.8rem;
  margin: 3% 1%;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
  z-index: 997;
}
.restaurants__cardContent:first-child .restaurants__cardContent__img {
  background: url(../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: bottom;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  text-align: right;
}
.restaurants__cardContent:nth-child(2) .restaurants__cardContent__img {
  background: url(../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: bottom;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  text-align: right;
}
.restaurants__cardContent:nth-child(3) .restaurants__cardContent__img {
  background: url(../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: bottom;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  text-align: right;
}
.restaurants__cardContent:nth-child(4) .restaurants__cardContent__img {
  background: url(../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: bottom;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  text-align: right;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .restaurants__cardContent {
    flex-basis: 45%;
  }
}
@media only screen and (min-width: 1023px) {
  .restaurants__cardContent {
    flex-basis: 30%;
  }
}
.restaurants__cardContent__img__restoType[data-status=new]::before {
  content: "Nouveau";
  position: relative;
  text-align: center;
  width: 6rem;
  top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  background-color: #99E2D0;
  padding: 0.4rem 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: darkgreen;
}
.restaurants__cardContent__legend {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.8rem;
  line-height: 1.5;
}
.restaurants__cardContent__legend__title__name h3 {
  font-weight: 500;
  font-size: 1rem;
}
.restaurants__cardContent__legend__favorite {
  padding: 0;
  position: relative;
}
.restaurants__cardContent__legend__favorite .material-icons {
  position: absolute;
  font-size: 2rem;
  top: -3.5rem;
}
.restaurants__cardContent__legend__favorite .favorite_border {
  right: 3%;
  z-index: 1;
}
.restaurants__cardContent__legend__favorite .favorite {
  color: transparent;
  z-index: 0;
  right: 3%;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  opacity: 0;
}
.restaurants__cardContent__legend__favorite__radiobtn {
  display: none;
}
.restaurants__cardContent__legend__favorite__radiobtn:checked ~ label .favorite_border {
  opacity: 0;
}
.restaurants__cardContent__legend__favorite__radiobtn:checked ~ label .favorite {
  transition: all 600ms;
  transform: scale(1);
  opacity: 1;
}
@media only screen and (min-width: 1023px) {
  .restaurants__cardContent__legend__favorite__radiobtn:hover ~ label .favorite_border {
    opacity: 0;
  }
  .restaurants__cardContent__legend__favorite__radiobtn:hover ~ label .favorite {
    transition: all 600ms;
    transform: scale(1);
    opacity: 1;
  }
}

/* mise en forme des composants */
/* design dédié à certaines pages */
/* changement d'apparrence globale du site *//*# sourceMappingURL=main.css.map */