/* Normes globales du site */
* {
    margin:0;
    padding:0;
}

.indexBody {
    background: $darkGreyColor;
    .loader__section {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        width:100%;
        position: absolute;
        z-index: 999;
        animation: animloaderBackground 10s;
        animation-fill-mode: forwards;
        &__loader {
            width: 48px;
            height: 48px;
            display: inline-block;
        }
        &__loader::after,
        &__loader::before {
            content: '';  
            box-sizing: border-box;
            width: 48px;
            height: 48px;
            position: absolute;
            top: calc(50% - 24px);
            border-radius: 50%;
            border: 2px solid $primaryColor;
            z-index: 999;
            animation: animloader 2s linear 2;
            animation-fill-mode: forwards;
        }
        &__loader::after {
            animation-delay: 1s;        
        }
        }
      @keyframes animloader {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
      @keyframes animloaderBackground {
        0% {
            opacity: 1;
          }
        100% {
            opacity: 0.2;
            z-index: -999;
          }
      }
}

.bodyMenu header {
    margin-bottom: 0;
}
