/* Normes globales du site */
* {
    margin:0;
    padding:0;
}

body {
  background: $darkGreyColor;
  .loader__section {
    position: absolute;
    top:0;
    width:100%;
    z-index: 998;
    filter: blur(0) !important;
    &__loader {
        width: 88px;
        height: 88px;
        position: absolute;
        top: calc(25vh);
        left: calc(50% - 44px);
        margin: auto;
        z-index: 999;
    }
    &__loader::after,
    &__loader::before {
        content: '';  
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        position: absolute;
        top: calc(25vh);
        left: calc(50% - 44px);
        border-radius: 50%;
        border: 4px solid $primaryColor;
        z-index: 999;
        animation: animloader 2s linear 2;
        animation-fill-mode: forwards;
    }

}

.indexBody {
    filter: blur(40px);
    animation: animloaderBackground 4s;
    animation-fill-mode: both;
        }
      @keyframes animloader {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
      @keyframes animloaderBackground {
        0% {
          filter: blur(40px);
          }
        25% {
          filter: blur(30px);        
        }
        50% {
          filter: blur(20px);        
        }
        75% {
          filter: blur(10px);        
        }
        100% {
          filter: blur(0px);
          z-index:-999;
      }
}

.bodyMenu header {
    margin-bottom: 0;
}
}