$bkptDesktop: 1024px;
$bkptTablet: 768px;
$bkptSmartphone: 640px;

@mixin ecranSmartphone {
    @media only screen and (max-width:$bkptSmartphone) {
        @content;
    }
}

@mixin ecranTablet {
    @media only screen and (min-width:$bkptSmartphone) and (max-width:$bkptDesktop) {
        @content;
    }
}

@mixin ecranDesktop {
    @media only screen and (min-width:$bkptDesktop) {
        @content;
    }
}

@mixin btnShadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
}

@mixin btnShadowPushed {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px inset;
}

@mixin logoMenuTitle {
    font-family: $titleLogoFontFamily;
    a {
        text-decoration: none;
        color: black;     
        @include ecranSmartphone {
            font-size: 5vh;
        }
        @include ecranTablet{
            font-size: 3vh;
        }
        @include ecranDesktop {
            font-size: 30px;
        }
    }    
}

@mixin sectionTitle {
    font-size: 1.6rem;
    font-weight: 600;
    padding:.5rem 0;
    @include ecranTablet {
        font-size: 1.2rem;
    }
    @include ecranDesktop {
        font-size: 1.2rem;
    }
}

@mixin sectionSubTitle {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0;
    @include ecranTablet {
        font-size: 1rem;
    }
    @include ecranDesktop {
        font-size: 1rem;
    }
}

@mixin indentNumber {
    background-color: $primaryColor;
    color:white;
    height:1.2rem;
    width:1.2rem;
    text-align: center;
    border-radius: 1.6rem;
    padding: .2rem .2rem;
    margin-left: -2.5rem;
    @include ecranTablet {
        padding: .45rem;
        margin-left: -2.8rem; 
    }
    @include ecranDesktop {
        padding: .6rem;
        margin-left: -3.1rem;
    }
}

@mixin iconsAppearance {
    max-height: 1.4rem;
    padding-right: 1rem;
        @include ecranTablet {
            font-size: 1.6rem;
        }
}

@mixin transitionTiming {
    transition: 200ms 30ms ease-in-out;
}

@mixin restaurantImgProperties {
    height:10rem;
    width:100%;
    flex-shrink: 0;
    background-size: cover;
    background-position: bottom;
    border-top-left-radius: $radiusCard;
    border-top-right-radius: $radiusCard;
    text-align: right;
}

@keyframes btnTransform {
    15% {
        box-shadow: rgba(0, 0, 0, 0.2) 1px 2.5px 5px 1px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 2.5px 5px 1px;
        filter: grayscale(5%); 
        transform: scale(1);
    }
    60% {
        box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 10px 1px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 10px 1px;
        filter: grayscale(10%); 
        transform: scale(1.6, 1);
    }
    100% {
        box-shadow: rgba(0, 0, 0, 0.2) 1px 2.5px 5px 1px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 2.5px 5px 1px;
        filter: grayscale(5%); 
        transform: scale(1);
    }
}


@mixin btnExploreAndCommand {
    padding: .7rem 1.7rem;
    background: linear-gradient($secondaryColor, $primaryColor);
    border: none;
    border-radius: $radiusCard;
    color: white;
    font-size: 1rem;
    font-weight: 500;    
    box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 10px 1px;                        
    @include ecranTablet {
        font-size: .8rem;
    }
    @include ecranDesktop {
        font-size: .8rem;
    }
    &:hover {                        
        cursor: pointer;
        animation: btnTransform 400ms 50ms ease-out;
        animation-fill-mode: forwards; 
    }
}