$fa-font-path: "../vendors/webfonts";

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;

$primaryColorTransparent: #9356DC1A;

$darkGreyColor: #eaeaea;
$mediumGreyColor: #f6f6f6;

$titleLogoFontFamily: 'Shrikhand', cursive;
$textFontFamily: 'Roboto', sans-serif;
$bold: 500;

$radiusCard: 1.8rem;