$fa-font-path: "../vendors/webfonts";

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;

$primaryColorTransparent: #9356DC1A;

$darkGreyColor: #eaeaea;
$mediumGreyColor: #f6f6f6;

$btn_background: linear-gradient($secondaryColor, $primaryColor);
$btn_background_light_2: lighten($secondaryColor, 3%);
$btn_background_light_1: lighten($primaryColor, 3%);
$btn_background_light_total_2: lighten($secondaryColor, 5%);
$btn_background_light_total_1: lighten($primaryColor, 5%);
$btn_background_light: linear-gradient($btn_background_light_2, $btn_background_light_1);
$btn_background_light_total: linear-gradient($btn_background_light_total_2, $btn_background_light_total_1);

$titleLogoFontFamily: 'Shrikhand', cursive;
$textFontFamily: 'Roboto', sans-serif;
$bold: 500;

$radiusCard: 1.8rem;
$radiusMenuTitle: 2.4rem;

$sectionPadding: 1.5rem;

$imgLaPaletteDuGout: url(../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
$imgLaNoteEnchantee: url(../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
$imgALaFrancaise: url(../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
$imgLeDeliceDesSens: url(../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);

$topBase: 20px;
$menuTitleHeight: 2rem;
$menuDishesHeight: 11rem;